# Supabase Configuration
VITE_SUPABASE_URL=https://ocgetcwyxilqfkaakmna.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jZ2V0Y3d5eGlscWZrYWFrbW5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MDM1MTAsImV4cCI6MjA4MTE3OTUxMH0.Mir02vj_TL_o_1YK4K1gpkBcsusClIIv-_djFvuObdo

# Backend API URL
VITE_API_URL=http://127.0.0.1:8000

# Environment
VITE_ENV=development
